extends ../layout

block content
	.container
		.nav.nav-pils.nav-stacked
			each item in blogs
					.li-center
						a(href="/article/#{item._id}")
							img(src="#{item.poster}", alt="#{item.title}")
						.caption
							h3: a.btn.btn-primary(href="/article/#{item._id}", role="button") #{item.title}
							p: #{item.date}