extends ../layout

block content
	.container
		.row
			each item in blogs
				.col-md-2
					.thumbnail
						a(href="/article/#{item._id}")
							img(src="#{item.poster}", alt="#{item.title}")
						.caption
							h3: a.btn.btn-primary(href="/article/#{item._id}", role="button") #{item.title}
							p: #{item.date}