extends ../layout

block content
	.container
		.row
			each item in diaries
				.col-md-2
					.thumbnail
						a(href="/diaries/#{item._id}")
							img(src="#{item.poster}", alt="#{item.title}")
						.caption
							h3 #{item.title}
							p: a.btn.btn-primary(href="/diaries/#{item._id}", role="button")
								查看日记